<!doctype html>
<html>
<head>
<title>Index</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="fonts/font-awesome.min.css">
<link rel="stylesheet" href="fonts/fonts.css">
<link rel="stylesheet" href="style.css">
<script type="text/javascript" src="http://code.angularjs.org/angular-1.0.1.js"></script>
<script type="text/javascript" src="app.js"></script>
<style type="text/css">
  .title{ display: block;    overflow: hidden;    text-overflow: ellipsis;    white-space: nowrap;}
</style>
</head>

<body ng-app="MyApp" >
<div>
  <header>
    <div class="headimg"></div>
  </header>
  <section class="container">
    <div class="container_inner padT20">
      <aside class="left_bar">
        <ul id="ctrl-as-exmpl" ng-controller="App" class="main-navigation-menu animation">
          <li class="add_databox">
            <button class="myAddButton" type="button" ng-click="show = !show">
            <span class="plus_icon">+</span>
            <span class="title">Add Category </span>
            </button>            
          </li>
          <div ng-show="show">
              <input type="text" style="width: 50%; margin-bottom: 9px;"  ng-model="Categorie_input">
              <button type="submit" ng-click="add()">Add</button>
            </div>
          <li animate remove="remove($index)" ng-repeat="name in names">
            <a href="javascript:void(0)">
            <span class="title">{{ name }}</span>
            <span class="small_txt">({{ $index }})</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
            <span class="title">All</span>
            <span class="small_txt">(265)</span>
            </a>
          </li>
          <li class="active open">
            <!--active open-->
            <a href="#">
            <span class="title">Dashboard</span>
            <span class="small_txt">(32)</span>
            </a>
          </li>
        </ul>
      </aside>
      <article class="main-content">
        <div class="row mar0 clearfix">
          <div class="col-sm-8">
            <input value="Add Sub Category" type="text" placeholder="Add Sub Category" />
          </div>
          <div class="col-sm-3" style="float:right; text-align:right;"><img src="images/save.svg" alt="#" /></div>
        </div>
      </article>
    </div>
  </section>
</div>
</body>
</html>